<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>0099FF</string>
	<string>f0f0f4</string>
	<string>f2ecde</string>
	<string>fdeff2</string>
	<string>e3f9fd</string>
	<string>d6ecf0</string>
	<string>fffbf0</string>
	<string>FF99FF</string>
	<string>fcefe8</string>
	<string>bce672</string>
	<string>f3f9f1</string>
	<string>FFCCCC</string>
	<string>e0f0e9</string>
	<string>CCFFFF</string>
	<string>FFFFCC</string>
	<string>CCFFCC</string>
	<string>CCCCCC</string>
	<string>edd1d8</string>
	<string>a4e2c6</string>
	<string>eedeb0</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
